<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Cadastro de Produtos</title>
</head>
<body>
	<h1>Cadastrar Produtos:</h1>
	<form method="post">
		Nome do Produto: <input type="text" value="" name="nome_produto" required/>
		Preço Unitário do Produto: <input type="number" value="" name="valor_produto" required/>
		Quantidade em estoque: <input type="number" value="" name="qtd_produto" required/>
		
		<button type="submit">Salvar Produto</button>
	</form>
</body>
</html>