<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>Consultar Clientes</title>
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel="stylesheet" href="materialize/css/style.css" />
</head>
<body>
	<h3>Clientes Cadastrados no sistema:</h3>
	<h4><a th:href="@{/cadastrarCliente}">Cadastrar novo</a></h4>
	<table class="responsive-table centered" border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nome do Cliente</th>
				<th>CPF</th>
				<th>Email</th>
				<th>Telefone/Celular</th>
				<th>Situação</th>
			</tr>
		</thead>
		<tbody>				
			<tr th:each="cliente: ${cliente}">
				<td><span th:text="${cliente.id_cliente}"></span></td>
				<td><span th:text="${cliente.nome_cliente}"></span></td>
				<td><span th:text="${cliente.cpf_cliente}"></span></td>
				<td><span th:text="${cliente.email_cliente}"></span></td>
				<td><span th:text="${cliente.telefone_cliente}"></span></td>
				<td><span th:text="${cliente.auxiliarCliente}"></span></td>
				<td><a th:href="@{/atualizarCliente/{id_cliente}(id_cliente=${cliente.id_cliente})}">Editar Registro</a></td>
				<td><a th:href="@{/desativarCliente/{id_cliente}(id_cliente=${cliente.id_cliente})}">Ativar/Desativar Cliente</a></td>
		    </tr>
		</tbody>    					
	</table>
    <input class="waves-effect waves-light btn-small" type="button" onclick="window.history.back()" value="Voltar"/>
</body>
</html>